.drawer-content-wrapper {
  background-color: transparent;
  background: transparent;
}

.drawer-content .css-vurnku a {
  background-color: transparent;
}

#gradient-canvas-footer {
  --gradient-color-1: #fff;
  --gradient-color-2: #e6abe6;
  --gradient-color-3: #e4e9fa;
  --gradient-color-4: #cee6fc;
  position: absolute;
  top: 0;
  right: 0;
}

::selection {
  background: #da6f05;
}
